[user]
	name = ernestas
	email = ernestas.lisauskas@gmail.com
[core]
	editor = vim
	autocrlf = input
	safecrlf = false
[github]
	user = ernestas
	token = tokengoeshere #dotfiles change token
[color]
    ui = auto

[color "diff"]
    meta = blue bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "branch"]
    current = yellow reverse
    local = yellow bold
    remote = green bold
    plain = red bold

[color "status"]
    added = yellow
    changed = green bold
    untracked = blue bold

[alias]
	ln = log -n 30 --pretty=format:%h' '%Cblue%cr%Creset%Cgreen%d%Creset' '%s --graph --color --decorate
