[user]
	name = Ernestas Lisauskas
	email = ernestas.lisauskas@gmail.com
[core]
	editor = emacs
	autocrlf = input
	pager = less -x4
[github]
	user = ernestas
[color]
	ui = auto

[alias]
	ln = log --pretty=format:%Cred%h%Creset' '%an' '%Cblue%cr%Creset%Cgreen%d%Creset' '%s --graph --color --decorate
